@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  //background: rgb(255,255,255);
  background-image: linear-gradient(to right, #072a6c, #572170, #890061, #ab0045, #bb1d1e);
}


/*
@media (prefers-color-scheme: root) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*/

/*
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
*/